/*RESET*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----FONTS------*/

@font-face {
  font-family: 'ReformaGrotesk';
  src: url('ReformaGroteskMediumC.eot');
  src: local('ReformaGroteskMediumC'),
    url('ReformaGroteskMediumC.eot?#iefix') format('embedded-opentype'),
    url('ReformaGroteskMediumC.woff') format('woff'),
    url('ReformaGroteskMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ReformaGrotesk';
  src: url('ReformaGroteskDemiC.eot');
  src: local('ReformaGroteskDemiC'),
    url('ReformaGroteskDemiC.eot?#iefix') format('embedded-opentype'),
    url('ReformaGroteskDemiC.woff') format('woff'),
    url('ReformaGroteskDemiC.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ReformaGrotesk';
  src: url('ReformaGroteskBoldC.eot');
  src: local('ReformaGroteskBoldC'),
    url('ReformaGroteskBoldC.eot?#iefix') format('embedded-opentype'),
    url('ReformaGroteskBoldC.woff') format('woff'),
    url('ReformaGroteskBoldC.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ====STYLE===== */
:root {
  --color1: #DB3138;
  --color2: #fff;
}

body {
  font-size: 16px;
  font-family: 'ReformaGrotesk';
  font-weight: 600;
  color: var(--color2);
  overflow-x: hidden;
  background: rgba(20, 20, 20, 1)
}

.navbar-container {
  width: 1920px;
  display: flex;
  height: 1000px;
  background: url('./bg_header.png') 0 0px no-repeat;
  margin-bottom: 180px;

}

ul {
  display: flex;
  gap: 40px;
  margin-left: 312px;
}

ul li {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.header-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.car-music {
  color: var(--color1);
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 125%;

}

.flex-rect {
  display: flex;

}

.rectangle-1,
.rectangle-2,
.rectangle-3,
.rectangle-4 {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 10px;
  background: var(--color1);
  margin-left: 30px;
  transform: rotate(-45deg);
  margin-bottom: 41px;
}

.header-h2-lorem {
  width: 437px;
  height: 96px;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 40px;

}

.header-div-service {
  width: 110px;
  height: 61px;
  background: var(--color1);
}

.header-h2-servive {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: 17px;
  left: 27px;
}

.header-line-border {
  display: flex;
  position: absolute;
  width: 1920px;
  height: 214px;
  left: 0px;
  top: 770px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-line-border-content-1 {
  width: 33%;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.5);

}

.header-line-border-content-2 {
  width: 33%;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.header-line-border-content-3 {
  width: 33%;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.header-line-border p {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--color1);
}

.header-line-border-content-h2-info {
  color: var(--color2);
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;

}

/* MAIN */
main {
  height: 745px;
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}

.main-achevments {
  width: 1296px;
  height: 745px;
}

.main-achevments h2 {
  font-size: 52px;
  text-transform: uppercase;
  width: 636px;
  height: 136px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.05em;
}

.main-rectangle-1,
.main-rectangle-2,
.main-rectangle-3,
.main-rectangle-4 {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 10px;
  background: var(--color1);
  transform: rotate(-45deg);
  margin-top: 40px;
  margin-right: 30px;
  margin-bottom: 60px;

}

.main-achievements-info {
  width: 526px;
  height: 116px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.main-achievements-container {
  position: relative;
}

.main-achievements-container-1 {
  position: relative;
  top: -363px;
  left: 625px;
  height: 708px;
  width: 318px;
  border: 1px solid #898989;
}

.main-achievements-container-2 {
  position: relative;
  top: -1035px;
  left: 942px;
  height: 708px;
  width: 318px;
  border: 1px solid #898989;
}

.main-achievements-container-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 177px;
  width: 318px;
  border-bottom: 1px solid #898989;
}

.main-achievement-h3 {
  color: var(--color1);
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 28px;
  height: 45px;
}

.main-achievement-h3::before {
  content: '#';
  font-size: 12px;
}

.main-achievements-container-row p {
  width: 277px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
}

.main-achievements-container-row img {
  margin-bottom: 20px;

}

/* SLIDER */
.slider-section {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}

.slider-container {
  width: 1558px;
  height: 420px;
  display: flex;
  align-items: center;
}

.slider-arrow-container {
  width: 50px;
  height: 50px;
  border: 3px solid var(--color1);
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-arrow-container img {
  transform: rotate(+45deg);
  padding-right: 9px;
}



.slide-slide-1 {
  width: 416px;
  height: 420px;
  margin-left: 60px;
}

.slider-slide-1-background {
  position: relative;
  margin: 0 auto;
  top: -35px;
  width: 366px;
  height: 70px;
  background: var(--color1);
}

.slide-slide-1-content {
  text-transform: uppercase;
  width: 286px;
  height: 75px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 00.05em;
  position: relative;
  margin: 0 auto;
  top: 25px;
}

.slide-slide-2,
.slide-slide-3 {
  width: 416px;
  height: 420px;
  margin-left: 24px;
}

.slide-slide-3 {
  margin-right: 60px;
}

/* GUARANTEE */
.common-guarantee-container {
  width: 1296px;
  height: 663px;
  /* border: 1px solid white; */
  margin: 0 auto;
  display: flex;
  margin-bottom: 180px;
}

.guarantee-container-1 {
  width: 526px;
  height: 663px;
  margin-right: 134px;
}

.guarantee-material {
  width: 526px;
  height: 158px;

}

.displ-block-material-position {
  display: flex;
  justify-content: center;
}

.guarantee-material-h2 {
  width: 426px;
  height: 43px;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-left: 36px;
}

.guarantee-material-p {
  width: 526px;
  height: 58px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.rhombus-position-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 526px;
  height: 60px;
}

.guarantee-rhombus1,
.guarantee-rhombus2,
.guarantee-rhombus3,
.guarantee-rhombus4 {
  margin: 40px 0px 40px 0px;
  width: 10px;
  height: 10px;
  background: var(--color1);
  transform: rotate(-45deg);
}

.guarantee-masters-container {
  margin-top: 40px;
  width: 526px;
  height: 130.14px;
}

.displ-block-masters-position,
.displ-block-service-position {
  display: flex;
  justify-content: center;

}

.guarantee-masters-h2,
.guarantee-service-h2 {
  width: 426px;
  height: 43px;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-left: 36px;
}

.guarantee-masters-p,
.guarantee-service-p {
  width: 526px;
  height: 58px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.guarantee-service-container {
  margin-top: 40px;
  width: 526px;
  height: 187.14px;
}

.guarantee-container-2 {
  width: 636px;
  height: 661px;
  /* border: 1px solid white; */
}

.guarantee-container-2-p {

  width: 422px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.guarantee-container-2-block-position {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.services-container {
  width: 1296px;
  height: 771px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 180px;
}

.services-container-h2 {
  height: 73px;
  font-size: 52px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}

.rhombus-position-services-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 60px;
  margin-bottom: 60px;
}

.services-detailing {
  width: 450px;
  height: 75px;
  display: flex;

}

.services-okle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 75px;
  background: var(--color1);
  color: var(--color2);
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.services-det {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 181px;
  height: 75px;
  color: var(--color2);
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 40px
}

.services-icons-group-container {
  display: flex;
  gap: 20px;

}

.services-icons-group1,
.services-icons-group2,
.services-icons-group3,
.services-icons-group4 {
  width: 306px;
  height: 428px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  flex-direction: column;
  border: 1px solid rgba(137, 137, 137, 1);
}

.services-icons-group1-h2 {
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.services-icons-group1-p {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 226px;
  height: 88px;
}

.services-icons-group1-box {
  width: 58px;
  height: 41px;
  background: var(--color1);

}

.services-icons-group1-box-p {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  top: 12px;
  left: 27px;
}

.services-icons-group1-box-correctpos {
  width: 58px;
  height: 41px;
  background: var(--color1);
  margin-top: 28px;
}

.advant-container-1 {
  width: 526px;
  height: 663px;
  margin-left: 134px;
}

/* OURWORKS */
.ourWorks-container {
  width: 1920px;
  height: 1028px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 180px;
}

.ourWorks-h2 {
  width: 636px;
  height: 73px;
  font-size: 52px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}

.rhombus-position-ourWorks {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
  flex-wrap: nowrap;
}

.carsGroup {
  width: 1920px;
  height: 840px;
}

/* FOOTER */
.footer-container {
  width: 1920px;
  height: 653px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-answer {
  font-size: 52px;
  line-height: 140%;

  letter-spacing: 0.05em;
  text-transform: uppercase;

}

.footer-name-input {
  width: 306px;
  height: 47px;
  background: rgba(20, 20, 20, 1);
  border: 1px solid rgba(137, 137, 137, 1);
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color2);
  font-size: 22px;
  padding-left: 10px;
  margin-right: 24px;
}

.footer-name-input:focus {
  border: 1px solid var(--color1);
}

.footer-name-input::placeholder {
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(137, 137, 137, 1);
  font-size: 22px;
}

.footer-tel-input {
  width: 306px;
  height: 47px;
  background: rgba(20, 20, 20, 1);
  border: 1px solid rgba(137, 137, 137, 1);
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color2);
  font-size: 22px;
  padding-left: 10px;

}

.footer-tel-input::placeholder {
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(137, 137, 137, 1);
  font-size: 22px;
}

.footer-tel-input:focus {
  border: 1px solid var(--color1);
}

.footer-textarea {
  display: block;
  margin-top: 24px;
  width: 526px;
  height: 150px;
  background: rgba(20, 20, 20, 1);
  border: 1px solid rgba(137, 137, 137, 1);
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color2);
  font-size: 22px;
  padding-left: 10px;
}

.footer-textarea:focus {
  border: 1px solid var(--color1);
}