/*RESET*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----FONTS------*/

@font-face {
  font-family: 'ReformaGrotesk';
  src: url('ReformaGroteskMediumC.eot');
  src: local('ReformaGroteskMediumC'),
    url('ReformaGroteskMediumC.eot?#iefix') format('embedded-opentype'),
    url('ReformaGroteskMediumC.woff') format('woff'),
    url('ReformaGroteskMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ReformaGrotesk';
  src: url('ReformaGroteskDemiC.eot');
  src: local('ReformaGroteskDemiC'),
    url('ReformaGroteskDemiC.eot?#iefix') format('embedded-opentype'),
    url('ReformaGroteskDemiC.woff') format('woff'),
    url('ReformaGroteskDemiC.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ReformaGrotesk';
  src: url('ReformaGroteskBoldC.eot');
  src: local('ReformaGroteskBoldC'),
    url('ReformaGroteskBoldC.eot?#iefix') format('embedded-opentype'),
    url('ReformaGroteskBoldC.woff') format('woff'),
    url('ReformaGroteskBoldC.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ====STYLE===== */
:root {
  --color1: #DB3138;
  --color2: #fff;
}

body {
  font-size: 16px;
  font-family: 'ReformaGrotesk';
  font-weight: 600;
  color: var(--color2);
  overflow-x: hidden;
  background: rgba(20, 20, 20, 1)
}

.navbar-container {
  width: 1920px;
  display: flex;
  height: 1000px;
  background: url('./bg_header.png') 0 0px no-repeat;
  margin-bottom: 180px;

}

ul {
  display: flex;
  gap: 40px;
  margin-left: 312px;
}

ul li {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.header-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.car-music {
  color: var(--color1);
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 125%;

}

.flex-rect {
  display: flex;

}

.rectangle-1,
.rectangle-2,
.rectangle-3,
.rectangle-4 {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 10px;
  background: var(--color1);
  margin-left: 30px;
  transform: rotate(-45deg);
  margin-bottom: 41px;
}

.header-h2-lorem {
  width: 437px;
  height: 96px;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 40px;

}

.header-div-service {
  width: 110px;
  height: 61px;
  background: var(--color1);
}

.header-h2-servive {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: 17px;
  left: 27px;
}

.header-line-border {
  display: flex;
  position: absolute;
  width: 1920px;
  height: 214px;
  left: 0px;
  top: 770px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-line-border-content-1 {
  width: 33%;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.5);

}

.header-line-border-content-2 {
  width: 33%;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.header-line-border-content-3 {
  width: 33%;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.header-line-border p {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--color1);
}

.header-line-border-content-h2-info {
  color: var(--color2);
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;

}

/* MAIN */
main {
  height: 745px;
  display: flex;
  justify-content: center;
}

.main-achevments {

  width: 1296px;
  height: 745px;
}

.main-achevments h2 {
  font-size: 52px;
  text-transform: uppercase;
  width: 636px;
  height: 136px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.05em;
}

.main-rectangle-1,
.main-rectangle-2,
.main-rectangle-3,
.main-rectangle-4 {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 10px;
  background: var(--color1);
  transform: rotate(-45deg);
  margin-top: 40px;
  margin-right: 30px;
  margin-bottom: 60px;

}

.main-achievements-info {
  width: 526px;
  height: 116px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.main-achievements-container {
  position: relative;
}

.main-achievements-container-1 {
  position: relative;
  top: -363px;
  left: 625px;
  height: 708px;
  width: 318px;
  border: 1px solid #898989;
}

.main-achievements-container-2 {
  position: relative;
  top: -1035px;
  left: 942px;
  height: 708px;
  width: 318px;
  border: 1px solid #898989;
}

.main-achievements-container-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 177px;
  width: 318px;
  border-bottom: 1px solid #898989;
}

.main-achievement-h3 {
  color: var(--color1);
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 28px;
  height: 45px;
}

.main-achievements-container-row p {
  width: 277px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
}